# ignore node_modules
Lab3/.cache
Lab3/node_modules
Lab3/dist
Lab5/node_project/.cache
Lab5/node_project/node_modules
Lab5/node_project/dist
Lab5/node_project_q7/.cache
Lab5/node_project_q7/node_modules
Lab5/node_project_q7/dist